<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>insightsApiKey</key>
	<string>183e0fae-9f2f-47f4-91e6-fd5925f72df3</string>
	<key>apiTokenUrl</key>
	<string>https://my-token-dev2.ucb.com</string>
	<key>apiUrl</key>
	<string>https://my-api-mobile-dev2.ucb.com</string>
	<key>questionnaireInactivityTimer</key>
	<integer>900</integer>
	<key>minimumValuesToShowSearchBar</key>
	<integer>10</integer>
	<key>remindMeLaterTimeInMinutes</key>
	<integer>15</integer>
	<key>studyLogoName</key>
	<string>study-logo.png</string>
	<key>maximumSupportedNotifications</key>
	<integer>64</integer>
	<key>logLevel</key>
	<string>warn</string>
	<key>clientCertificateAccessGroup</key>
	<string>com.ucb.keychains.ipatconnect</string>
	<key>notificationHubNamespace</key>
  <string>ucb-nhn-btpm</string>
  <key>notificationHubName</key>
  <string>ucb-anh-btpm-801</string>
  <key>notificationHubKeyName</key>
  <string>DefaultListenSharedAccessSignature</string>
  <key>notificationHubKey</key>
  <string>Rmp8z+65mKw+lpdkITudYNJctFDVPGAScg6SX2ggd+U=</string>
</dict>
</plist>
