## Ignore the signedIpas folder
SignedIpas/

##Ignore the backup folder
_BKP/

##ignore the .mobileprovision files
.mobileprovision

##ignore DS_Store files
.DS_Store

##Ignore the shared Resources
_SharedResources/

##ignore the ipa files
*.ipa

##ignore temp folder
_TEMP/
